extends ./layout/index

block slider
    .slider 
        h1 Rio de Janeiro 
        p Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nostros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eaque eius temporibus veniam odio ullam, necessitatibus nostrum cum, dolorum animi, sapiente porro tempore. Dolorum enim ducimus sint cumque tempora. Nisi.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae architecto, commodi nulla repudiandae natus, adipisci placeat autem necessitatibus nesciunt, libero non ut vero cum quasi eligendi enim fuga! Expedita, fuga.Eius modi deserunt quia cupiditate perspiciatis. Voluptate nostrum veritatis assumenda itaque voluptates, quo sit dolor? Sed veritatis aut culpa ipsam, maiores placeat ducimus in dolorum praesentium, quis, distinctio soluta fugiat?
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class='img-fluid')
        
        include layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 Marzo de 2020
                        p.precio $2,500 USD

    
    .container 
        h2.mt-5.text-center Testimoniales 

        include layout/bloque_testimoniales
