extends ./layout/index

block contenido
    main.container.mt-5
        .row
             .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class='img-fluid')
             .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum consectetur arcu, id tincidunt nibh blandit nec. 

                p In tristique, erat sed venenatis luctus, nulla mi pretium felis, euismod sagittis purus neque non ex. Maecenas accumsan eros mauris, eget vulputate leo hendrerit sit amet. Praesent id diam elit. Pellentesque sodales volutpat urna ut feugiat. Vestibulum orci velit, gravida id auctor quis, faucibus vitae eros. Curabitur libero lectus, cursus nec justo non, pulvinar dictum elit. Vestibulum neque sapien, rutrum id tempor at, pellentesque id purus. Suspendisse fringilla elementum lectus, interdum laoreet lectus condimentum et. Praesent aliquam feugiat accumsan. Nulla dictum gravida sapien sit amet mattis. In vel iaculis mauris. Sed interdum vitae nisl eu ultricies. Morbi bibendum finibus quam eu facilisis. Quisque commodo interdum neque
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Proin in imperdiet lorem. Proin et odio quis justo semper molestie. In viverra orci ac felis efficitur condimentum. Praesent tincidunt leo sed justo interdum varius. Morbi bibendum ipsum ac risus interdum, ut dapibus libero aliquam. Pellentesque sollicitudin lacus elit, in sodales purus eleifend vehicula. Quisque vel tempus erat.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Proin in imperdiet lorem. Proin et odio quis justo semper molestie. In viverra orci ac felis efficitur condimentum. Praesent tincidunt leo sed justo interdum varius. Morbi bibendum ipsum ac risus interdum, ut dapibus libero aliquam. Pellentesque sollicitudin lacus elit, in sodales purus eleifend vehicula. Quisque vel tempus erat.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Proin in imperdiet lorem. Proin et odio quis justo semper molestie. In viverra orci ac felis efficitur condimentum. Praesent tincidunt leo sed justo interdum varius. Morbi bibendum ipsum ac risus interdum, ut dapibus libero aliquam. Pellentesque sollicitudin lacus elit, in sodales purus eleifend vehicula. Quisque vel tempus erat.
